@page
@model OfficeMgmt.Pages.AttendancePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Employee_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Employer_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Department_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Attendance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
